<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Order</title>
</head>
<body>
        <form method="post">
            <label>Enter Quantity</label>
            <input type="number" name="quantity" id="quantity">
            <label>Enter Customer Id</label>
            <input name="customerId" id="customerId">
            <label>Enter Product Id</label>
            <input name="product" id="product">
            <button type="submit">Add Order</button>
        </form>
</body>
</html>